@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 767px) {

    header{
        max-width: 1170px;
    }
    header .container.d-flex a.logo {
        width: 73px;
        overflow: hidden;
        margin-right: 10px;
    }

    nav {
        justify-content: center;
    }

    .newsletter input {
        padding: 15px 30px 15px 25px;
    }

    .newsletter button {
        padding: 16px 21px;
    }

    span {
        display: none;
    }

    header form {
        width: 84px;
        margin-right: 10px;
    }

    section.banner, section.banner img {
        display: none;
    }

    .btn {
        width: 84px;
        margin-right: 5px;
    }
    footer{
        max-width: 1170px;
        flex-direction: column;
        align-items: flex-end;
    }

    .lots_links{

    }
}

@media only screen and (max-width: 414px) {

}

@media only screen and (max-width: 375px) {

}

@media only screen and (max-width: 360px) {

}

@media only screen and (max-width: 320px) {

}